<!-- <ng-container *ngIf="isFirst">
  <div class="footer">
    <button class="new-button" (click)="goToNextQuestion()"
      [disabled]="currentQuestion.isDisableButton">Suivant</button>
  </div>
</ng-container>

<ng-container *ngIf="isEnd">
  <div class="survey-end-footer">
    <button class="end-button">Plannifier mon premier programme</button>
  </div>
</ng-container> -->


  <div>
    <ion-button expand="block" share="round" color="primary" class="primary-button" (click)="goToNextQuestion()">Next</ion-button>
  </div>