// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
.ios body {
  --ion-background-color: #fff;
  --ion-text-color: #000;
  --ion-toolbar-background: #0d0d0d;
  --ion-item-background: #E6E6FA;
  --ion-color-primary: #283D83;
}